


<!-- all js include start -->

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- popper js -->
<script src="js/popper.min.js"></script>

<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>

<!-- core.min.js -->
<script src="js/core.min.js"></script>

<!-- custom scripts -->
<script src="js/main.js"></script>

<!-- all js include end -->

</body>



</html>