<%- include('../layouts/userHeader.ejs') %>


    <section class="md">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-6 mb-1-9 mb-lg-0">

                    <div class="common-block">

                        <div class="inner-title">
                            <h4 class="mb-0">Login</h4>
                            <p class="mb-0">Everything is simple with Login.</p>
                        </div>

                        <form method="post" id="login" action="\login">

                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input id="userName" type="text" class="form-control" name="username"
                                            placeholder="Your user name here">
                                        <span style="color: red;" id="errorUser" style="display:none"></span>

                                    </div>

                                </div>

                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label>Password </label>
                                        <input id="password" type="password" class="form-control" name="password"
                                            placeholder="Your password here">
                                        <span style="color: red;" id="errorPassword" style="display:none"></span>

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6 text-start text-md-end">
                                    <a href="account-password-recovery.html" class="m-link-muted">Forgot password?</a>
                                </div>

                            </div>

                            <button type="submit" class="butn-style2 mt-4">Login</button>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </section>



    <script>
        if (window.location.search.includes("success=register_success")) {

            const successMessage = document.createElement("div");
            successMessage.innerText = "Registration successful. Please login to continue.";
            successMessage.classList.add("success-message");
            successMessage.style.color = "green";
            const innerTitle = document.querySelector(".inner-title");
            innerTitle.insertAdjacentElement("afterend", successMessage);
            setTimeout(() => {
                successMessage.style.display = "none";
            }, 10000);
        }
    </script>
    <script>
        const form = document.getElementById('login');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const usernameInput = document.getElementById('userName');
            const passwordInput = document.getElementById('password');

            const usernameValue = usernameInput.value.trim();
            const passwordValue = passwordInput.value.trim();


            usernameInput.style.borderColor = '';
            passwordInput.style.borderColor = '';
            const errorMessageElementUser = document.getElementById('errorUser');
            errorMessageElementUser.style.display = 'none';
            const errorMessageElementPassword = document.getElementById('errorPassword');
            errorMessageElementPassword.style.display = 'none';

            if (usernameValue.length < 4) {
                usernameInput.style.borderColor = 'red';
                const errorMessageElement = document.getElementById('errorUser');
                errorMessageElement.innerHTML = 'Invalid User Name';
                errorMessageElement.style.display = 'block';
            } else {
                usernameInput.style.borderColor = '';
            }

            if (passwordValue.length < 4) {
                passwordInput.style.borderColor = 'red';
                const errorMessageElement = document.getElementById('errorPassword');
                errorMessageElement.innerHTML = 'Invalid Password';
                errorMessageElement.style.display = 'block';
            } else {
                passwordInput.style.borderColor = '';
            }

            if (usernameValue.length > 2 && passwordValue.length > 3) {
                const formData = new FormData(form);
                const data = {
                    username: formData.get('username'),
                    password: formData.get('password'),
                };
                try {
                    const response = await fetch('/login', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    const responseData = await response.json();
                    if (responseData.status) {
                        window.location = "/"
                    } else if (responseData.err === "user") {
                        const errorMessageElement = document.getElementById('errorUser');
                        errorMessageElement.innerHTML = 'User Not exists';
                        errorMessageElement.style.display = 'block';
                    } else if (responseData.err === "password") {
                        const errorMessageElement = document.getElementById('errorPassword');
                        errorMessageElement.innerHTML = "Password Doesn't match";
                        errorMessageElement.style.display = 'block';
                    } else {
                        const errorMessageElement = document.getElementById('errorUser');
                        errorMessageElement.innerHTML = 'Something Went Wrong';
                        errorMessageElement.style.display = 'block';
                    }
                } catch (error) {
                    console.log(error);
                }
            }
        });

    </script>
    <%- include('../layouts/userFooter.ejs') %>