<%- include('../layouts/userHeader.ejs') %>


    <section class="md">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-6 mb-1-9 mb-lg-0">

                    <div class="common-block">

                        <div class="inner-title">
                            <h4 class="mb-0">Login</h4>
                            <p class="mb-0">Everything is simple with Login.</p>
                        </div>

                        <form method="post">

                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" name="name"
                                            placeholder="Your user name here">
                                    </div>

                                </div>

                                <div class="col-sm-12">

                                    <div class="form-group">
                                        <label>Password </label>
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Your password here">
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    
                                </div>
                                <div class="col-sm-6 text-start text-md-end">
                                    <a href="account-password-recovery.html" class="m-link-muted">Forgot password?</a>
                                </div>

                            </div>

                            <button type="button" class="butn-style2 mt-4">Login</button>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <script>
        if (window.location.search.includes("success=register_success")) {
                
                 const successMessage = document.createElement("div");
            successMessage.innerText = "Registration successful. Please login to continue.";
            successMessage.classList.add("success-message");
            successMessage.style.color = "green";
            const innerTitle = document.querySelector(".inner-title");
            innerTitle.insertAdjacentElement("afterend", successMessage);
            setTimeout(() => {
                successMessage.style.display = "none";
            }, 10000); 
            }
    </script>
    <%- include('../layouts/userFooter.ejs') %>